<!DOCTYPE html>
<html lang="en">

    {% block head %}
    <!-- TODO: make a header file with default info -->
    {% endblock %}

<body>

    {% block nav %}
        {% include "navbar.html.twig" %}
    {% endblock %}

</body>
</html>