{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title %}Login {% endblock %}

<body>

<!-- Login form with checkbox for "save me"-function -->
<div class="login_form">
    <form action="/php/user_login.php" method="post" id="sign_in_user">
        <input type="email" name="email" id="user_email" placeholder="user@ntnutube.dev" required><br />
        <input type="password" name="password" id="user_password" placeholder="Password" required><br />

        <label for="save_credentials">Remember me</label>
            <input type="checkbox" name="save_credentials" value="no"checked /><br/>
        <button type="submit">Sign in</button>
    </form>


</div>

</body>
</html>