<!DOCTYPE html>
<html lang="en">
<div class="navbar">
    {% block nav %}
        <a class="active" href="/">Home</a>
        <a href="/video">Videos</a>
        <a href="/login">Login</a>
    {% endblock %}
</div>
