{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block tittle %}Registrer ny bruker{% endblock %}
</head>
<body>
    {% include "navbar.html.twig" %}
</body>
</html>